{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"project": ["./tsconfig.json"]
	},
	"extends": [
		"eslint:recommended",
		"prettier",
		"plugin:node/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		// "plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["prettier", "@typescript-eslint"],
	"rules": {
		"prettier/prettier": ["error"],
		"node/no-unsupported-features/es-syntax": [
			"error",
			{ "ignores": ["modules"] }
		],
		"node/no-missing-import": 0,
		"no-non-null-assertion": 0,
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "argsIgnorePattern": "^_" }
		],
		"@typescript-eslint/no-non-null-assertion": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"@typescript-eslint/no-empty-function": 0
	}
}
